.appSection {
    padding: 90px 100px;
}

.appSection .sectionHeader {
    font-weight: 400;
    font-size: 48px;
    padding-top: 150px;
    padding-bottom: 76px;
    text-align: center;
}

.appSection .sliderWrapper {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.appSection .sliderWrapper:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 40%;
}

.appSection .sliderWrapper:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 100%;
    left:50%;
    top:0;
    transform: translateX(-50%);
    background-image: url('../../media/img/sections/app/phone_frame.png');
    background-size: 100% 100%;
}

.appSection .sliderPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
}

.appSection .sliderItem {
    overflow: hidden;
    border-radius: 20px;
    transition: transform 180ms ease-out;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-size: 100% 100%;
    background-image: url("../../media/img/sections/app/screen_1.png");
}