.partnerSection {
    padding: 100px 80px 40px;
}

.partnerLogosWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partnerLogoItem {
    height: 70px;
    margin: 0 15px 60px;
}

.partnerLogoItem img {
    object-fit: contain;
    object-position: center;
}