/* Desktop large */
@media only screen and (min-width: 1680px) {
  .downloadBtn {
    padding: 0 44px;
    font-size: 24px;
  }

  .donateBtn {
    font-size: 18px;
    padding: 0 60px;
  }

  .navBar .navList .navLink {
    font-size: 22px;
  }

  .teamSectionSlider .glide__track {
    height: 400px;
  }

  .teamSectionSlider .teamMemberName {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .teamSectionSlider .teamMemberRole {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .teamSectionSlider .teamMemberQuote {
    font-size: 14px;
    line-height: 16px;
  }

  .partnerLogoItem {
    height: 90px;
    margin: 0 20px 70px;
  }

  .joinUsLink {
    width: 300px;
    height: 286px;
  }
}

/* Desktop medium (1440 - 1680) */
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  .appSectionSlider .glide__slide {
    border-radius: 28px;
  }
}

/* Desktop Small (1024 - 1440) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .navBar {
    justify-content: flex-end;
  }

  .navBar .navList {
    margin: 0 -30px;
  }

  .navBar .navList .navItem {
    margin: 0 30px;
  }

  .navBar .navList .navLink {
    font-size: 16px;
  }

  .appSectionSlider .glide__slide {
    border-radius: 12px;
  }

  .aboutSectionImages {
    width: 330px;
    height: 420px;
  }

  .aboutSectionSlider {
    padding: 0 80px;
  }

  .aboutSectionSlider .splide__slide {
    font-size: 18px;
    line-height: 26px;
  }

  .aboutSectionSlider .splide__pagination {
    right: 30px;
  }

  .partnerLogoItem {
    height: 60px;
  }

  .joinUsSection {
    padding: 50px 50px 100px;
  }

  .joinUsLink {
    width: 235px;
    height: 224px;
  }

  .footerSection {
    padding-bottom: 60px;
  }

  .footerInfo {
    margin-right: 120px;
  }

  .footerAbout {
    font-size: 20px;
  }

  .footerDownloadLinks h4 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .footerDownloadLinks .downloadBtnWrapper {
    grid-gap: 40px;
    grid-template-columns: 1fr;
  }

  .footNote {
    font-size: 20px;
  }
}

/* Tablet and mobile*/
@media only screen and (max-width: 1024px) {
  .downloadBtn {
    height: 50px;
    font-size: 15px;
    padding: 0 20px;
    font-weight: 400;
  }

  .downloadBtn img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .sectionHeading {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .statsType {
    width: 130px;
    padding: 16px 8px 20px;
  }

  .statsValue {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .statsName {
    font-size: 15px;
    font-weight: 300;
  }

  .introSection {
    padding-bottom: 96px;
  }

  .introSection .header {
    padding: 60px 22px 0;
    justify-content: space-between;
  }

  .introSection .header .headerLogo {
    width: 45px;
    height: 33px;
  }

  .introSection .header .hamburgerMenu {
    position: relative;
    font-size: 17px;
    color: #53d2d8;
    z-index: 11;
    transition: all 180ms ease-out;
  }

  .introSection .header .hamburgerMenu.active {
    color: #fff;
    transform: rotate(-90deg);
  }

  .introSection .downloadBtnWrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 14px;
  }

  .introSection .downloadBtn {
    margin-bottom: 10px;
  }

  .introSection .header .navBar,
  .introSection .header .languageDropdown,
  .introSection .header .donateBtn {
    display: none;
  }

  .introSection .sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    padding: 60px 22px;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    transition: transform 180ms ease-out;
    background-color: var(--brandBackground);
  }

  .introSection .sideBar.sideBarActive {
    transform: translateX(-100%);
  }

  .introSection .sideBarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .introSection .sideBarLogo {
    width: 45px;
    height: 33px;
  }

  .introSection .sideBarNav {
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 0;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 60px;
    padding: 60px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .introSection .sideBarNav .sideBarNavLink {
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    font-family: var(--fontPrimary);
  }

  .introSection .sideBarNav .donateBtn {
    font-size: 20px;
    color: var(--accentBackground);
    background-color: var(--accentForeground);
  }

  .appSection {
    margin: 0;
    padding: 90px 0;
  }

  .appSectionSlider {
    margin: 6px 0;
  }

  .appSectionSlider .glide__slides {
    padding: 4px 0;
  }

  .appSectionSlider .glide__slide {
    border-radius: 18px;
  }

  .aboutSection {
    padding: 20px 0;
  }

  .aboutSectionImages {
    width: 280px;
    height: 370px;
    margin: 0 40px;
  }

  .aboutSectionSliderHeading {
    font-size: 22px;
    margin-bottom: 18px;
  }

  .aboutSectionSlider {
    padding: 0 40px;
  }

  .aboutSectionSlider .splide__slide {
    font-size: 18px;
    line-height: 30px;
  }

  .aboutSectionSlider .splide__pagination {
    flex-direction: row;
    flex-wrap: nowrap;
    top: auto;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%);
  }

  .aboutSectionSlider .splide__pagination li {
    flex-shrink: 0;
    margin: 0 8px;
  }

  .teamSectionHeading {
    margin-bottom: 46px;
  }

  .partnerSection {
    padding: 40px 0;
  }

  .partnerSectionHeading {
    margin-bottom: 36px;
  }

  .partnerLogosWrapper {
    margin: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .partnerLogoItem {
    height: 60px;
    margin: 0 40px;
    flex-shrink: 0;
  }

  .joinUsSectionHeading {
    margin-bottom: 36px;
  }

  .joinUsSection {
    padding: 50px;
  }

  .joinUsLink {
    width: 200px;
    height: 200px;
  }

  .footerSection {
    padding: 60px 0;
  }

  .footerContent {
    flex-direction: column;
    padding: 0 100px;
  }

  .footerInfo {
    flex-direction: row;
    margin: 0 -20px 36px;
  }

  .footerAbout {
    font-size: 12px;
    line-height: 15px;
    margin: 0 20px;
  }

  .footerLogo {
    width: 134px;
    height: 30px;
  }

  .footerSocialLinks {
    margin: 0 20px;
  }

  .footerDownloadLinks h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .footerDownloadLinks .downloadBtnWrapper {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .footNote {
    width: calc(100% - 200px);
    font-size: 12px;
  }
}
/* Mobile Only */
@media only screen and (max-width: 768px) {
  .statsType {
    width: 110px;
  }
  .appSectionSlider .glide__slide {
    border-radius: 12px;
  }

  .aboutSectionSlider .splide__pagination {
    bottom: -20px;
  }

  .aboutSectionSlider .splide__pagination li {
    width: 10px;
    height: 10px;
    margin: 0 4px;
  }

  .aboutSectionImages {
    width: 136px;
    height: 200px;
    margin: 0 20px;
  }

  .aboutSectionSliderHeading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .aboutSectionSlider {
    padding: 0 20px;
    margin-bottom: 10px;
  }

  .aboutSectionSlider .splide__slide {
    font-size: 12px;
    line-height: 18px;
  }

  .teamSection {
    padding: 70px 0;
  }

  .footerSection {
    padding: 40px 0;
  }

  .footerContent {
    padding: 0 22px;
  }

  .footNote {
    width: calc(100% - 44px);
    padding-top: 40px;
    line-height: 1;
  }
}
