:root {
    /*  Colors  */
    --accentBackground: #31D0DB;
    --accentForeground: #fff;

    --brandBackground: #6768AB;

    --accentBackgroundHover: #20BDC8;

    --color-1: #D6D6D6;

    /* Fonts */
    --fontPrimary: 'Rubik', sans-serif;
    --fontSecondary: 'Segoe UI', sans-serif;
    --fontTernary: 'Inter', sans-serif;
}